<footer id="contactMe">
  <div class="row-divider">
  </div>
  <div class="row-title">
    <h2>Contact Me</h2>
  </div>
  <div class="row">
    <div class="medium-24 large-16 medium-centered large-centered columns">
      <div class="row">
        <div class="medium-8 large-8 columns">
          <a href="https://www.linkedin.com/pub/maxwell-burton/14/b95/81b" target="_blank" class="social-button linkedin">
            <div class="social-icon">
            </div>
            <p>LinkedIn</p>
          </a>
        </div>
        <div class="medium-8 large-8 columns">
          <a href="https://instagram.com/maxburto/" target="_blank" class="social-button instagram">
            <div class="social-icon">
            </div>
            <p>Instagram</p>
          </a>
        </div>
        <div class="medium-8 large-8 columns">
          <a href="https://500px.com/maxburto" target="_blank" class="social-button fivehundredpx">
            <div class="social-icon">
            </div>
            <p>500px</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
