<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <nav>
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a href="index.html" class="{{#ifpage 'index'}}current{{/ifpage}}">Home</a></li>
        <li><a href="work.html" class="{{#ifpage 'work'}}current{{/ifpage}}">Work</a></li>
        <li><a href="about.html" class="{{#ifpage 'about'}}current{{/ifpage}}">About</a></li>
        <li><a href="contact.html" class="{{#ifpage 'contact'}}current{{/ifpage}}">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
